<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/datosPersonales.css" />
    <link rel="icon" href="/Img/Logo Icono.svg" />
    <script src="/static/Js/ValidarDatosPer.js" defer></script>
    <title>Datos personales</title>
  </head>


  <body>
    <form id="formulario" action="./inicio.html" method="get">
      <h1>Sus datos personales</h1>
      <div class="inputDatos">
        <label for="primerNombre">Nombre/s</label>
        <input type="text" id="primerNombre" name="primerNombre" />
        <span id="error-nombre"></span>

        <label for="apellido">Apellido/s</label>
        <input type="text" id="apellido" name="apellido"  />
        <span id="error-apellido"></span>

        <label for="email">Email</label>
        <input type="email" id="email" name="email">
        <span id="error-email"></span>

        <label for="fechaNac">Fecha de nacimiento</label>
        <input type="date" id="fechaNac" name="fechaNac"  />

        <label for="Genero">Genero</label>
        <select name="Genero" id="Genero" >
          <option value="Femenino">Femenino</option>
          <option value="Masculino">Masculino</option>
        </select>

        <label for="estadoCivil">Estado Civil</label>
        <select name="estadoCivil" id="estadoCivil" >
          <option id="opcion1" value="Soltero/a"></option>
          <option id="opcion2" value="Casado/a"></option>
        </select>

        <input type="submit" value="Continuar">
      </div>
      <div class="footerDatos">
      
      </div>
    </form>
  </body>
</html>
