<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/Img/Logo Icono.svg">
    <link rel="stylesheet" href="/css/Validacion_tel.css">
    <title>Global ARG</title>
</head>
<body>
    <main>
        <div id="principal">
            <div>
                <a href="/html/Inicial.html"><img id="Flechita" src="/Img/left_arrow_icon_263628.png" alt="Back-arrow" height="50px"></a>
            </div>
            <div id="cuerpo">
                <h1><span id="comencemos">Comencemos</span></h1>
                <p>
                    introduce tu numero de telefono y te enviaremos un codigo para confirmar que eres tu.
                </p>
            </div>
        </div>
    </main>
</body>
</html>