<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/static/Img/Logo Icono.svg" />
    <title>Verificacion de correo</title>
    <link rel="stylesheet" href="/static/css/VcorreoE.css">
    <script src="/static/Js/VerificacionEmail.js" defer></script>
</head>
<header>
    <div id="Banda-celeste-sup">
    <img id="Logo" src="/static/Img/Logo Icono.svg" alt="Logo" srcset=""><p id="name">
    <span id="G">G</span>lobal<span id="A">A</span>rg</p>
    </div>
</header>
<body>
        <div id="xd">
            <div id="fondo1-container">
                <img id="fondo1" src="/static/Img/mapa2.PNG" alt="" srcset="">
            </div>
            <div class="container">
                <header>
                <a href="/templates/html/Inicial.html"><img id="flechita" src="/static/Img/left_arrow_icon_263628.png" alt="retroceso" srcset=""></a>
                <h1>Verifique su correo electronico</h1>
                <p class="subtitulo">Te enviaremos un código de confirmación</p>
                </header>
                <main>
                    <form id="formulario" method="get" action="/templates/html/DatosPersonales.html" >
                        <label for="email">Correo electrónico</label>
                        <input type="email" id="email" placeholder="Ingrese su correo"  />
                        <span id="error-mail"></span>
                        <a href="/templates/html/DatosPersonales.html"><button class="boton-continuar">Continuar</button></a>
                    </form>
                </main>
                <footer>
                <p class="terminos">
                    Al continuar acepta los
                    <a href="#">Términos y Condiciones</a>
                    y nuestra
                    <a href="#">Política de privacidad</a>
                </p>
                </footer>
            </div>
            <div id="fondo1-container">
                <img id="fondo1" src="/static/Img/mapa1.PNG" alt="" srcset="">    
            </div>
        </div>
        <div id="banda-celeste-inf"></div>
</body>
</html>
