#principal{
    width: 500px;
    padding-left: 30%;
}
#flechita{
    text-align: left;
}
#cuerpo{
    font-family: Arial, sans-serif;
}
#comencemos{
    text-align: left;
    padding-left: 0px;
    margin-left: 0px;
}