<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/static/img/Logo.ico" />
    <link rel="stylesheet" href="/static/css/styke_billetera.css">
    <title>GlobalArg</title>
</head>

<header>
    <div class="banda__celeste"></div>
    <img class="logo" src="/static/img/Logo.svg" alt="Logo" srcset=""><p id="name">
    <span id="G">G</span>lobal<span id="A">A</span>rg</p>
</header>

<body id="pagina_web">

    <div class="columna_imagen">
        <img src="/static/img/Mapa Mundo Izquierda.svg" alt="fondo_mundo" />
    </div>

    <div class="contenedor_principal">

        <form id="formulario" action="/Html/iniciar_sesion.html" method="get">

            <div class="encabezado">
                <div class="avatar" id="avatar"></div>
                <div class="nombre" id="nombre+apellido"></div>
            </div>

            <div class="saldo">
                <h3>Saldo Total</h3>
                <p class="monto" id="monto"></p>
            </div>

            <div class="botones_redondos">
                <button id="boton_ingresar">Ingresar</button>
                <button id="boton_transferir">Transferir</button>
            </div>

            <div class="botones_cuadrados">
                <a href=""><button id="boton_vario">Pagar servicios</button></a>
                <a href=""><button id="boton_vario">Recargar celular</button></a>
                <a href=""><button id="boton_vario">Cargar transporte</button></a>
                <a href=""><button id="boton_vario">Pagar con QR</button></a> 
            </div>

            <div class="menu_inferior">
                <span class="botones_menu">
                    <a href=""><h3>Inicio</h3></a>
                </span>

                <span class="botones_menu">
                    <a href=""><h3>Billetera</h3></a>
                </span>

                <span class="botones_menu">
                    <a href=""><h3>Ahorros</h3></a>
                </span>

                <span class="botones_menu">
                    <a href=""><h3>Ajustes</h3></a>
                </span>
            </div>

        </form>

    </div>

    <div class="columna_imagen">
        <img src="/static/img/Mapa Mundo Derecha.svg" alt="fondo_mundo" />
    </div>
    <script>
            document.getElementById("nombre+apellido").textContent =localStorage.getItem("nombre")+" "+localStorage.getItem("apellidos") ;
            nombre=localStorage.getItem("nombre");
            apellido=localStorage.getItem("apellidos");
            nom_ape=nombre.charAt(0)+apellido.charAt(0);
            document.getElementById("avatar").textContent =nom_ape
            document.getElementById("monto").textContent =localStorage.getItem("saldo") +" "+ "ARS"
    </script>

    </body>

<footer>

    <div class="banda_celeste"></div>
    <p>2025 GlobalArg. Todos los derechos reservados.</p>
    
</footer>
</html>