<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/Trabajo Integrador/static/img/Logo.ico" />
    <link rel="stylesheet" href="/Trabajo Integrador/static/css/styke_correo_electronico.css">
    <title>GlobalArg</title>
</head>

<header>
    <div class="banda_celeste">
        <img class="logo" src="/Trabajo Integrador/static/img/Logo.svg" alt="Logo" srcset="">
        <p class="nombre_encabezado"><span id="G">G</span>lobal<span id="A">A</span>rg</p>
    </div>
</header>

<body id="pagina_web">

    <div class="contenedor_principal">

        <div class="columna_imagen_izquierda">
            <img src="/Trabajo Integrador/static/img/Mapa Mundo Izquierda.svg" alt="fondo_mundo" />
        </div>

        <a href="/Trabajo Integrador/templates/domicilio.html">
            <img class="fecha_retroceder" src="/Trabajo Integrador/static/img/Flecha retroceder.svg" alt="Volver" />
        </a>

        <form id="formulario" action="/Trabajo Integrador/templates/domicilio.html" method="get">

            <h1 class="titulo">Verifique su correo electronico</h1>
            <p class="subtitulo">- Te enviaremos un código de confirmación</p>

            <div class="formulario">

                <label for="email">Correo electrónico</label>
                <input type="email" id="email" placeholder="Ingrese su correo" required />
                <div class="errores">
                    <span id="error_correo_electronico"></span>
                </div>
                
            </div>


            <a href="/Trabajo Integrador/templates/condiciones_legales.html" class="boton_continuar">Continuar</a>
        </form>

        <p class="subtitulo2">Al continuar acepta los <a href="/Trabajo Integrador/templates/terminos_condiciones.html" class="enlaces">Términos y Condiciones</a> y nuestra <a href="/Trabajo Integrador/templates/politica_privacidad.html" class="enlaces">Política de privacidad</a></p>

    </div>

    <div class="columna_imagen_derecha">
        <img src="/Trabajo Integrador/static/img/Mapa Mundo Derecha.svg" alt="fondo_mundo" />
    </div>

    <script src="/Trabajo Integrador/static/js/index_correo_electronico.js"></script>
</body>

<footer>

    <div class="banda_celeste"></div>
    
</footer>

</html>