<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/static/img/Logo.ico" />
    <link rel="stylesheet" href="/static/css/styke_correo_electronico.css">
    <title>GlobalArg</title>
</head>

<header>
    <div class="banda_celeste">
        <img class="logo" src="/static/img/Logo.svg" alt="Logo" srcset="">
        <p class="nombre_encabezado"><span id="G">G</span>lobal<span id="A">A</span>rg</p>
    </div>
</header>

<body id="pagina_web">

    <div class="contenedor_principal">

        <div class="columna_imagen_izquierda">
            <img src="/static/img/Mapa Mundo Izquierda.svg" alt="fondo_mundo" />
        </div>

        <a id="flecha_volver">
            <img class="fecha_retroceder" src="/static/img/Flecha retroceder.svg" alt="Volver" />
        </a>

        <form id="formulario"  method="get">

            <h1 class="titulo">Verifique su correo electronico</h1>
            <p class="subtitulo">- Te enviaremos un código de confirmación</p>

            <div class="formulario">

                <label for="email">Correo electrónico</label>
                <input type="email" id="email" placeholder="Ingrese su correo"/>
                <div class="errores">
                    <span id="error_correo_electronico"></span>
                </div>
                
            </div>
            <button type="submit" id="continuar" class="boton_continuar">Continuar</button>
        </form>

        <p class="subtitulo2">Al continuar acepta los <a id="terminos" class="enlaces">Términos y Condiciones</a> y nuestra <a id="politica" class="enlaces">Política de privacidad</a></p>

    </div>

    <div class="columna_imagen_derecha">
        <img src="/static/img/Mapa Mundo Derecha.svg" alt="fondo_mundo" />
    </div>

    <script src="/static/js/index_correo_electronico.js"></script>

    <script>
        document.getElementById("continuar").addEventListener("click", function() {
            window.location.href = "/condiciones";  
        });

        document.getElementById("terminos").addEventListener("click", function() {
            window.location.href = "/terminos";  
        });

        document.getElementById("politica").addEventListener("click", function() {
            window.location.href = "/politica";  
        });
        document.getElementById("flecha_volver").addEventListener("click", function() {
            window.location.href = "/datos_domicilio";  
        });

    </script>
</body>

<footer>

    <div class="banda_celeste"></div>
    
</footer>

</html>