<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/Imagenes/Logo.ico" />
    <link rel="stylesheet" href="/Css/styke_correo_electronico.css">
    <title>GlobalArg</title>
</head>

<header>
    <div class="banda_celeste">
        <img class="logo" src="/Imagenes/Logo.svg" alt="Logo" srcset="">
        <p class="nombre_encabezado"><span id="G">G</span>lobal<span id="A">A</span>rg</p>
    </div>
</header>

<body id="pagina_web">

    <div id="contenedor_principal">

        <div class="columna_imagen_izquierda">
            <img src="/Imagenes/Mapa Mundo Izquierda.svg" alt="fondo_mundo" />
        </div>

        <a href="/Html/domicilio.html">
            <img class="fecha_retroceder" src="/Imagenes/Flecha retroceder.svg" alt="Volver" />
        </a>

        <form id="formulario" action="/Html/domicilio.html" method="get">

            <div class="encabezado_formulario">
                <h1 class="titulo">Verifique su correo electronico</h1>
                <p class="subtitulo">Te enviaremos un código de confirmación</p>
            </div>

            <div class="formulario">

                <label for="email">Correo electrónico</label>
                <input type="email" id="email" placeholder="Ingrese su correo" required />
                
            </div>

        </form>

        <p class="terminos">Al continuar acepta los <a href="/Html/terminos_condiciones.html">Términos y Condiciones</a> y nuestra <a href="/Html/politica_privacidad.html">Política de privacidad</a></p>

        <div class="boton_continuar">
            <a href="/Html/condiciones_legales.html"><button id="boton_continuar">Continuar</button></a>
        </div>

    </div>

    <div class="columna_imagen_derecha">
        <img src="/Imagenes/Mapa Mundo Derecha.svg" alt="fondo_mundo" />
    </div>

    <script src="/JavaScript/index_correo_electronico.js"></script>
</body>

<footer>

    <div class="banda_celeste"></div>
    
</footer>

</html>