<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/Trabajo Integrador/static/img/Logo.ico" />
    <link rel="stylesheet" href="/Trabajo Integrador/static/css/styke_domicilio.css">
    <title>GlobalArg</title>
</head>

<header>
    <div class="banda_celeste">
        <img class="logo" src="/Trabajo Integrador/static/img/Logo.svg" alt="Logo" srcset="">
        <p class="nombre_encabezado"><span id="G">G</span>lobal<span id="A">A</span>rg</p>
    </div>
</header>

<body id="pagina_web">

    <div class="contenedor_principal">

        <div class="columna_imagen_izquierda">
            <img src="/Trabajo Integrador/static/img/Mapa Mundo Izquierda.svg" alt="fondo_mundo" />
        </div>

        <a href="/Trabajo Integrador/templates/pais_residencia.html">
            <img class="fecha_retroceder" src="/Trabajo Integrador/static/img/Flecha retroceder.svg" alt="Volver"/>
        </a>

        <form id="formulario" action="/Trabajo Integrador/templates/pais_residencia.html" method="get">

                <h1 class="titulo">Domicilio</h1>
                <p class="subtitulo">Contanos donde vivís</p>

            <div class="formulario">

                <label for="calle">Calle</label>
                <input type="text" id="calle" name="calle" required />
                <div class="errores">
                        <span id="error_calle"></span>
                </div>
            
                <label for="altura">Altura</label>
                <input type="int" id="altura" name="altura" required />
                <div class="errores">
                    <span id="error_altura"></span>
                </div>
            
                <div class="fila_doble">
                    <div class="campo">
                        <label for="piso">Piso</label>
                        <input type="number" id="piso" name="piso" required />
                        <div class="errores">
                            <span id="error_piso"></span>
                        </div>
                    </div>
                    <div class="campo">
                        <label for="depto">Depto</label>
                        <input type="text" id="depto" name="depto" required />
                        <div class="errores">
                            <span id="error_depto"></span>
                        </div>
                    </div>
                </div>
            
                <label for="ciudad">Ciudad</label>
                <input type="text" id="ciudad" name="ciudad" required />
                 <div class="errores">
                    <span id="error_ciudad"></span>
                </div>

                <label for="provincia">Provincia</label>
                <select name="provincia" id="provincia" required>
                    <option value="">  </option>
                    <option value="">Buenos Aires</option>
                    <option value="">Catamarca</option>
                    <option value="">Chaco</option>
                    <option value="">Chubut</option>
                    <option value="">Córdoba</option>
                    <option value="">Corrientes</option>
                    <option value="">Entre Ríos</option>
                    <option value="">Formosa</option>
                    <option value="">Jujuy</option>
                    <option value="">La Pampa</option>
                    <option value="">La Rioja</option>
                    <option value="">Mendoza</option>
                    <option value="">Misiones</option>
                    <option value="">Neuquén</option>
                    <option value="">Río Negro</option>
                    <option value="">Salta</option>
                    <option value="">San Juan</option>
                    <option value="">San Luis</option>
                    <option value="">Santa Cruz</option>
                    <option value="">Santa Fe</option>
                    <option value="">Santiago del Estero</option>
                    <option value="">Tierra del Fuego</option>
                    <option value="">Tucumán</option>
                </select>
                <div class="errores">
                    <span id="error_provincia"></span>
                </div>
            </div>

            <a href="/Trabajo Integrador/templates/correo_electronico.html" class="boton_continuar">Continuar</a>
        </form>

    </div>

    <div class="columna_imagen_derecha">
        <img src="/Trabajo Integrador/static/img/Mapa Mundo Derecha.svg" alt="fondo_mundo" />
    </div>

    <script src="/Trabajo Integrador/static/js/index_domicilio.js"></script>
    
</body>

<footer>
    <div class="banda_celeste"></div>
</footer>

</html>