<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/static/img/Logo.ico" />
    <link rel="stylesheet" href="/static/css/style_estamos_trabajando.css">
    <title>GlobalArg</title>
</head>

<header>
    <div class="banda_celeste">
        <img class="logo" src="/static/img/Logo.svg" alt="Logo" srcset="">
        <p class="nombre_encabezado"><span id="G">G</span>lobal<span id="A">A</span>rg</p>
    </div>
</header>

<body id="pagina_web">
    <div class="columna_imagen_izquierda">
        <img src="/static/img/Mapa Mundo Izquierda.svg" alt="fondo_mundo" />
    </div>
    <div class="contenedor_principal">
            <a id="flecha_volver" ><img class="fecha_retroceder" id="flecha_retroceder" src="/static/img/Flecha retroceder.svg" alt="Volver"/> </a>

        <form id="formulario">

            <div class="logo_principal">
            <img id="logo.png" src="/static/img/Logo.svg" alt="Logo" height="350px"></a>
        </div>

            <div class="GlobalArg">
                <h1 id="GlobalArg">
                    <span id="G">G</span>lobal<span id="A">A</span>rg
                </h1>
            </div>
            <h1 class="titulo">Estamos trabajando</h1>
            <p class="subtitulo">Pronto tendremos una nueva funcionalidad</p>


        </form>

    </div>

    <div class="columna_imagen_derecha">
        <img src="/static/img/Mapa Mundo Derecha.svg" alt="fondo_mundo" />
    </div>

     <script src="/static/js/index_usuario_clave.js"></script>
    <script>
                document.getElementById("flecha_retroceder").addEventListener("click", function() {
            window.location.href = "/inicio";  
        });


    </script>
</body>

<footer>
    <div class="banda_celeste"></div>
</footer>

</html>