<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/Trabajo Integrador/static/img/Logo.ico">
    <link rel="stylesheet" href="/Trabajo Integrador/static/css/style_iniciar_sesion.css">
    <title>GlobalArg</title>
</head>

<header>
    <div class="banda_celeste">
        <img class="logo" src="/Trabajo Integrador/static/img/Logo.svg" alt="Logo" >
        <p class="nombre_encabezado"><span id="G">G</span>lobal<span id="A">A</span>rg</p>
    </div>
</header>

<body id="pagina_web">

    <div class="columna_imagen_izquierda">
        <img src="/Trabajo Integrador/static/img/Mapa Mundo Izquierda.svg" alt="fondo_mundo" />
    </div>

    <div class="contenedor_principal">

        <div class="logo_principal">
            <img id="logo.png" src="/Trabajo Integrador/static/img/Logo.svg" alt="Logo" height="350px"></a>
        </div>

        <form id="formulario" action="/Trabajo Integrador/templates/usuario_clave.html" method="get">
            <div class="formulario"">

                <label for="usuario">Usuario:</label>
                <input type="text" id="usuario" name="usuario" required />
                <div class="errores">
                    <span id="error_usuario"></span>
                </div>

                <label for="password">Clave:</label>
                <input type="int" id="password" name="clave" required />
                <div class="errores">>
                    <span id="error_password"></span>
                </div>
                </div>
            
            <a href="/Trabajo Integrador/templates/billetera.html" class="boton_continuar">Continuar</a>

        </form>


    </div>

    <div class="columna_imagen_derecha">
        <img src="/Trabajo Integrador/static/img/Mapa Mundo Derecha.svg" alt="fondo_mundo" />
    </div>
    
    <script src="/Trabajo Integrador/static/js/index_inicio_sesion.js"></script>
</body>

<footer>
    <div class="banda_celeste"></div>
</footer>

</html>