<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/Trabajo Integrador/static/img/Logo.ico">
    <link rel="stylesheet" href="/static/css/style_pagina_principal.css">
    <title>GlobalArg</title>
</head>

<header>
    <div class="banda_celeste"></div> 
</header>

<body id="pagina_web">
    <div class="contenedor_principal">

        <div class="fondo_mundo"> 
            <img src="/static/img/Mapa Mundo.svg" alt="Fondo mundo" > 
        </div>
            
        <section>
            <div class="logo_principal">
                <img id="logo.png" src="/static/img/Logo.svg" alt="Logo" height="350px"></a>
            </div>

            <div class="GlobalArg">
                <h1 id="GlobalArg">
                    <span id="G">G</span>lobal<span id="A">A</span>rg
                </h1>
            </div>

            <div class="crear_cuenta"> 
                <a ><button id="crear_cuenta">CREAR CUENTA</button></a>
            </div>
                
            <div class="tengo_cuenta"> 
                <a id="tengo_cuenta"><button id="tengo_cuentas">Ya tengo cuenta</button></a>
            </div>
        </section>
    </div>
        <script>
                    document.getElementById("tengo_cuenta").addEventListener("click", function() {
                            window.location.href = "/login";  
                            });
                    
                    document.getElementById("crear_cuenta").addEventListener("click", function() {
                            window.location.href = "/new_account";  
                            });
        </script>
</body>

<footer>
    <div class="banda_celeste">
        <p>
            <a id ="politica" href="/templates/politica_privacidad.html">Política de Privacidad</a> |
            <a id ="condiciones" href="/templates/terminos_condiciones.html">Términos y Condiciones</a>
        </p>
    </div>
</footer>

</html>