<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/Trabajo Integrador/static/img/Logo.ico" />
    <link rel="stylesheet" href="/Trabajo Integrador/static/css/style_pais_residencia.css">
    <title>GlobalArg</title>
</head>

<header>
    <div class="banda_celeste">
        <img class="logo" src="/Trabajo Integrador/static/img/Logo.svg" alt="Logo" >
        <p class="nombre_encabezado"><span id="G">G</span>lobal<span id="A">A</span>rg</p>
    </div>
</header>

<body id="pagina_web">

    <div class="contenedor_principal">

        <form id="formulario" action="/Trabajo Integrador/templates/domicilio.html" method="get">

            <div class="columna_imagen_izquierda">
                <img src="/Trabajo Integrador/static/img/Mapa Mundo Izquierda.svg" alt="fondo_mundo" />
            </div>

            <a href="/Trabajo Integrador/templates/datos_personales.html">
                <img class="fecha_retroceder" src="/Trabajo Integrador/static/img/Flecha retroceder.svg" alt="Volver" />
            </a> 

                <h1 class="titulo">País de residencia</h1>
                <p class="subtitulo">- Necesitamos pedirte información</p>

            <div class="formulario">
                <label for="pais">Pais de residencia</label>

                <select name="pais" id="pais" required>
                    <option value="">  </option>
                    <option value="">Argentina</option>
                    <option value="">Brasil</option>
                    <option value="">Chile</option>
                    <option value="">Paraguay</option>
                    <option value="">Uruguay</option>
                </select>
                <div class="errores">
                    <span id="error_pais"></span>
                </div> 
                
            </div>

            <a href="/Trabajo Integrador/templates/domicilio.html" class="boton_continuar">Continuar</a>
        
        </form>
        
    </div>

    <div class="columna_imagen_derecha">
        <img src="/Trabajo Integrador/static/img/Mapa Mundo Derecha.svg" alt="fondo_mundo" />
    </div>

     <script src="/Trabajo Integrador/static/js/index_pais_residencia.js"></script>
</body>

<footer>
    <div class="banda_celeste"></div>
</footer>
        
</html>