<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/Trabajo Integrador/static/img/Logo.ico" />
    <link rel="stylesheet" href="/Trabajo Integrador/static/css/style_usuario_clave.css">
    <title>GlobalArg</title>
</head>

<header>
    <div id="banda_celeste">
    <img id="Logo" src="/Trabajo Integrador/static/img/Logo.svg" alt="Logo" srcset=""><p id="name">
    <span id="G">G</span>lobal<span id="A">A</span>rg</p>
    </div>
</header>

<body id="pagina_web">

    <div class="columna_imagen">
        <img src="/Trabajo Integrador/static/img/Mapa Mundo Izquierda.svg" alt="fondo_mundo" />
    </div>

    <div id="contenedor_principal">

            <img id="fecha_retroceder" src="/Trabajo Integrador/static/img/Flecha retroceder.svg" alt="Volver" />
        </a>

        <form id="formulario" action="/Trabajo Integrador/templates/condiciones_legales.html" method="get">

            <h1 class="titulo">Crear Usuario</h1>
            <p class="subtitulo">Elegí tu Usuario y Clave para luego poder acceder a tu cuenta</p>

            <div class="formulario">

            <label for="usuario">Usuario</label>
            <input type="text" id="usuario" name="usuario" required />
            <span id="error_usuario"></span>

            <label for="password">Clave</label>
            <input type="int" id="password" name="clave" required />
            <span id="error_password"></span>
            
            </div>

        </form>

        <div class="boton_continuar">
            <a href="/Trabajo Integrador/templates/pagina_principal.html"><button id="boton_continuar">Crear cuenta</button></a>
        </div>

    </div>

    <div class="columna_imagen">
        <img src="/Trabajo Integrador/static/img/Mapa Mundo Derecha.svg" alt="fondo_mundo" />
    </div>

    <script src="/Trabajo Integrador/static/js/index_usuario_clave.js"></script>
</body>

<footer>
    <div class="banda_celeste"></div>
</footer>

</html>