body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fcfcfc;
}

.banda_celeste {
    background-color: #3b98c3;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
} 

.logo {
    height: 40px;
    margin-left: 15px;
}

.nombre_encabezado{
    display: inline-block;
    margin-left: 15px;
    font-size: 30px;
    color: #fcfcfc;
    -webkit-text-stroke: 1px #000000;
}

.nombre_encabezado #G,
.nombre_encabezado #A{
    color: #3b98c3;
}

.contenedor_principal {
    height: 85vh;
    width: 30%;
    background-color: transparent;
    margin: 0px auto;
    padding-bottom: 29px;
    padding-top: 15px;
}

.columna_imagen_izquierda, .columna_imagen_derecha {
    position: absolute;
    top: 50%;
    width: 70%;
    height: auto;
    top: 5%;
    transition: transform 5s ease;
}

.columna_imagen_izquierda {
    right: 65%;
}

.columna_imagen_derecha {
    left: 65%;

}

.columna_imagen_izquierda:hover {
    transform: translateX(-100%);
}

.columna_imagen_derecha:hover {
    transform: translateX(100%);
}

.fecha_retroceder {
    width: 40px;
    margin-left: 5px;
}

.fecha_retroceder:hover {
    transform: scale(1.2);
}

.titulo{
    font-size: 40px;
    color: #3b98c3;
    font-weight: bold;
    margin-top: 45px;
    margin-left: 20px;
    margin-bottom: 0px;
}

.subtitulo{
    font-size: 15px;
    color: #eca94e;
    margin-top: -5px;
    margin-left: 25px;
}

.formulario label {
    color: #3b98c3;
    font-size: 24px;
    margin-left: 20px;
    margin-bottom: 5px;
    display: block;
    text-align: left;
}

input, select{
    display: block;
    width: 95%;
    padding: 8px;
    background-color: #c7c6c6;
    border:0.02px solid #000000;
    border-radius: 5px;
    font-size: 16px;
    margin: 0 auto 5px auto;
    box-sizing: border-box;
}

input:hover, select:hover{
    transform: scaleY(1.1);
    transition: transform 0.3s ease;
}

.errores{
    color: #eca94e;
    font-size: 12px;
    margin-left: 20px;
}

.boton_continuar{
    position: absolute;
    bottom: 100px; 
    left: 50%;
    transform: translateX(-50%);
    color: #fcfcfc;
    background-color: #3b98c3;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 0.02px solid #000000;
    border-radius: 5px;
    padding: 8px 40px;
    cursor: pointer;
}

.boton_continuar:hover {
    background-color: #fcfcfc;
    color: #3b98c3;          
    border-color: #3b98c3;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #3b98c3;
  display: flex;
  align-items: center;
  justify-content: center;
}