body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fcfcfc;
    display: flex;
    flex-direction: column;
}

.banda_celeste {
    background-color: #3b98c3;
    height: 50px;
    width: 100%;
    z-index: 2;
}

.logo, .nombre_encabezado {
    position: absolute;
    z-index: 3;
}

.logo {
    top: 5px;
    left: 10px;
    height: 40px;
}

.nombre_encabezado {
    top: -12px;
    left: 60px;
    font-size: 20px;
    color: #fcfcfc;
}

#G, #A {
    color: #fcfcfc;
    font-size: 24px;
}

.contenedor_principal {
    flex: 1;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

.fecha_retroceder {
    width: 30px;
    margin-bottom: 10px;
    transform: translate(50px, -15px);
}

.encabezado_formulario {
    margin-bottom: 5px;
    margin-top: -20px;
}

.titulo {
    font-size: 28px;
    font-weight: bold;
    color: #3b98c3;
    margin-left: 20px;
    margin-top: 0px;
}

.titulo_2 {
    font-size: 24px;
    font-weight: bold;
    color: #3b98c3;
    margin-bottom: 5px;
    margin-left: 10px;

}

.subtitulo {
    font-size: 16px;
    color: #555;
    margin-top: -15px;
    margin-left: 20px;
}

.subtitulo_2, ul,
address {
    font-size: 14px;
    color: #555;
    margin-top: -5px;
    margin-bottom: 15px;
    margin-left: 10px;
}

footer {
    width: 100%;
    position: relative;
    bottom: 0;
    z-index: 2;
    text-align: center;
    background-color: #ffffff;
}


@media (max-width: 768px) {
    .contenedor_principal {
        padding: 20px 10px;
    }

    .formulario {
        padding: 20px;
        max-width: 90%;
    }

    .titulo {
        font-size: 24px;
    }

    .subtitulo,
    .titulo_2,
    .subtitulo_2 {
        font-size: 14px;
    }
}
